/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

// INDEX PAGE ------------------------------------------
.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    width: 400px;
    height: 300px;
    margin: 10px;
    position: relative;
    background: #ccc;

    &:hover {
      box-shadow: 14px 17px 6px -9px rgba(0,0,0,0.27);
    }

    img {
      width: 100%;
    }

    footer {
      display: flex;
      align-items: center;
      height: 50px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 10px;
      color: #888;
      background: rgba(0,0,0,.8);

      .name {
        flex: 1;
        color: white;
      }
    }
  }
}



// SHOW PAGE ----------------------------------------------
.show-wrapper {
  display: flex;

  .show-left {
    img {
      width: 300px;
    }
  }

  .show-right {
    flex: 1;
    padding-right: 30px;
  }
}
